{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <span style="visibility: {% if title!='Explore' %}visible {% else %}hidden {% endif %};">
        <h1>Hi, {{ user_title }}!</h1>
    </span>
    <div>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    </div>
    {% if form %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.post.label }}<br>
            {{ form.post(cols=32, rows=4) }}<br>
            {% for error in form.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% endif %}
    <span style="visibility: {% if title!='Explore' %}visible {% else %}hidden {% endif %};">
        <form action="{{ url_for('sl') }}">
            {% if promote=='true' %}
                <button name="Learning" type="submit">Start Learning</button>
            {% endif %}
        </form>
    </span>
{% endblock %}
